/* ==========================================
   ABOUT PAGE
========================================== */

.about-page {
    padding: 55px 0 80px;
    background: #fff;
}


.about-page-container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/* Clear the floated image */
.about-page-container::after {
    content: "";
    display: block;
    clear: both;
}

/* ==========================================
   CONTENT
========================================== */

.about-page-subtitle {
    display: inline-block;

    color: #d62828;

    font-size: 17px;
    font-weight: 800;

    letter-spacing: 3px;
    text-transform: uppercase;

    margin-bottom: 12px;
}

.about-page-title {
    font-size: 44px;
    font-weight: 800;

    color: #222;

    margin-bottom: 28px;
}

/* ==========================================
   IMAGE
========================================== */

.about-page-image {
    float: right;

    width: 38%;

    margin-left: 50px;
    margin-bottom: 30px;

    border-radius: 10px;

    box-shadow: 0 18px 40px rgba(0, 0, 0, .15);
}

/* ==========================================
   PARAGRAPHS
========================================== */

.about-page-container p {
    font-size: 17px;
    line-height: 1.9;

    color: #555;

    margin-bottom: 24px;

    text-align: justify;
}