.navbar {
    background: #003366;
}

.nav-container {
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.nav-container > a,
.dropdown > a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 18px 0;
    display: block;
    transition: 0.3s;
}

.nav-container > a:hover,
.dropdown > a:hover {
    color: #ff4d4d;
}

/* ===========================
   First Level Dropdown
=========================== */

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    background: #fff;
    min-width: 320px;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);

    display: none;

    z-index: 1000;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/* ===========================
   First Level Items
=========================== */

.dropdown-menu a,
.submenu-link {

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #444;
    text-decoration: none;

    padding: 12px 18px;

    font-size: 16px;

    border-bottom: 1px solid #eee;

    background: white;

    transition: .25s;
}

.dropdown-menu a:hover,
.submenu-link:hover {

    background: #f7f7f7;
    color: #ff4d4d;

}

/* ===========================
   Sub Menu
=========================== */

.submenu-item {

    position: relative;

}

.submenu {

    position: absolute;

    top: 0;
    left: 100%;

    min-width: 320px;

    background: white;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);

    display: none;

    z-index: 1001;

}

.submenu-item:hover > .submenu {

    display: block;

}

.submenu-arrow {

    font-size: 18px;
    font-weight: bold;

}

/* ===========================
   Remove border from last item
=========================== */

.dropdown-menu a:last-child,
.submenu a:last-child {

    border-bottom: none;

}